﻿.center {
    text-align: center;
}
.center-page {
    width: 300px;
    height: 300px;
    position: absolute;

    top: -188px;
    bottom: 439px;
    left: -608px;
    right: 1381px;

    margin: auto;
}

.space-vert {
    margin-top: 20px;
}

.footer-pos {
    width: auto;
    height: auto;
    position: absolute;

    top: 600px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
body {
padding-top:50px;
background: #1e272e !important;
color:white;
}
.probrand 
{
    font-size:15px;
    font-weight:600;
    font-family:sans-serif;
    line-height:15px;
    text-transform:uppercase;
}
.proName 
{
    font-size:13px;
    
    font-family:sans-serif;
    line-height:17px;
    
}
.proPrice 
{
    font-size:14px;
    font-weight:600;
    font-family:sans-serif;
    line-height:17px;
    
}

.proOgPrice 
{
    font-size:13px;
    font-weight:400;
    font-family:sans-serif;
   text-decoration:line-through;
   color:gray;
    
}
.proPriceDisc 
{
    font-size:13px;
    font-weight:400;
    font-family:sans-serif;
  
   color:deeppink;
    
}

.proNameView 
{
    font-size:25px;
    line-height:25px;
    font-family:sans-serif;
    font-weight:600;
    color:#FF5722;
}

.carttotalprice {
    
    color: #FF5722;
}

.proOgPriceView {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    text-decoration: line-through;
    color: gray;
}

.proPriceDiscountView {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: deeppink;
}

.proPriceView {
    font-size: 16px;
    line-height: 17px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 10px;
}
.divDet1 {
    border-bottom: 1px dashed #D5D6D8;
    margin-bottom: 30px;
}

.h5Size {
    font-weight: 600;
    color:#FF5722;
}

input[type=radio] {
    margin-right: 10px;
    margin-left: 10px;
}

.mainButton {
    border-radius: 3px;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    min-height: 22px;
    padding: 10px 15px;
    min-width: 108px;
    font-weight: 500;
    background-color: #FF5722;
    border: 1px solid #FF5722;
    color: #fff;
}
.mainButton1 {
    border-radius: 3px;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    min-height: 22px;
    padding: 10px 15px;
    min-width: 108px;
    font-weight: 500;
    background-color:black;
    border: 1px solid #FF5722;
    color: #fff;
}
#btnCart {
margin-right:6px;
}

/*Cart*/
.proNameViewCart {
    font-size: 15px;
    line-height: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color:#FF5722;
}


.removeButton {
    border-radius: 10px;
    outline: 0;
    margin-top: 10px;
    font-size: 13px;
    min-height: 22px;
    min-width: 90px;
    font-weight: 500;
    background-color: #FF5722;
    border: 1px solid #FF5722;
    color: #fff;
}

.priceGray {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: dimgray;
}

.priceGreen {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: #20bd99;
}

.buyNowBtn {
    border-radius: 3px;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    min-height: 22px;
    padding: 10px 15px;
    font-weight: 500;
    background-color: #14cda8;
    border: 1px solid #14cda8;
    color: #fff;
    width: 100%;
}
.roundedcorner {
    font-size: 11pt;
    margin-left: auto;
    margin-bottom:1px;
    margin-right:auto;
    margin-top:1px;
    padding:3px;
    border-bottom:1px solid;
    border-left: 1px solid;
    border-right:1px solid;
    border-top:1px solid;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.popbackground {
    background-color: black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
.popup {
    border:3px solid black;
    border-radius:10px;
    padding:10px;
    width: 530px;
    height: 470px;
    background: #F4F4F4 url("http://localhost:54427/Images/Payment Logo/Jazz-and-Western-Union.jpg");
    background-position:center;
    background-repeat:space;
}
.transactiondetail {
    font-size:50px;
    font-family:'Script MT';
   padding-bottom:50px;
    padding:50px;
    color:#c23616;
}
.transactiondetail1 {
    font-size:50px;
    font-family:'Script MT';
   padding-bottom:50px;
    padding:50px;
    color:black;
}
.label4 {
    color:#f1f2f6;
}
.sp1 {
    color:#1e272e;
    font-size:large;
}
.popupeasypaisa {
    border:3px solid black;
    border-radius:10px;
    padding:10px;
    width: 520px;
    height: 465px;
    background: #91B12C url("http://localhost:54427/Images/Payment Logo/bg.jpg");
    background-position:center;
    background-repeat:space;

}

.nav-tabs{
  background-color:#F5F5F5;
}
.tab-content{
    background-color:#303136;
    color:#F5F5F5;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color:black !important;
    border: medium none;
    border-radius: 0;
    color:#F5F5F5;
}
.jazzcolor {
    color:red;
}
.easycolor {
    color:#A6C63D;
}
.jazzcashbtn {
    border-radius: 3px;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    min-height: 22px;
    padding: 10px 15px;
    font-weight: 500;
    background-color:#9B090D;
    border: 1px solid #14cda8;
    color: #fff;
    width: 100%;
}
.easypaisabtn {
    border-radius: 3px;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    min-height: 22px;
    padding: 10px 15px;
    font-weight: 500;
    background-color: #A6C63D;
    border: 1px solid #14cda8;
    color: #fff;
    width: 100%;
}
.divDet2 {
    border-bottom: 0.1px dashed #1E272E;
    margin-bottom: 20px;
}
.divDet3 {
    border-bottom: 0.1px dashed #1E272E;
    margin-bottom: 20px;
}
.passrec {
    font-size:large;
    font-weight:700;
    text-align:center;
       
}
.lblcol {
color:black;
}
.thmbimg {

    width: 100%;
    height: 100%;
}
.Dev3 {
    color:#F8F8F8;
}
.aboutus
 {
    align-content:center;
    padding-top:30px;
    font-family:'Segoe Script';
     color: white;
    text-shadow: 10px 5px 2px black, 5px 0 10px white, 10px 10px 50px black;
    
}
.polaroid {
   width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 20px 30px 0 rgba(255, 255, 255, 1.9);
 text-align:center;
 display:block;
 margin:0 auto;
}

.head1 {
     padding-top:20px;
    font-family:'Centaur';
     color: white;
    text-shadow: 0 1px 30px black, 5px 0 30px yellow, 0px 0 50px cyan;
}
.head2 {
     padding-top:50px;
    font-family:'Centaur';
     color: white;
    text-shadow: 0 1px 30px black, 5px 0 40px white, 0px 0 50px cyan;
}

